<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">MONITORAMENTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p>Verificando status...</p>
  </div>

  <div *ngIf="!isLoading && bloqueado" class="ion-text-center">
    <ion-icon name="time-outline" color="warning" style="font-size: 64px;"></ion-icon>
    <h2>Questionário Bloqueado</h2>
    <p>{{ mensagemBloqueio }}</p>
  </div>

  <div *ngIf="!isLoading && !bloqueado">
    <h1>QUESTIONÁRIO</h1>
    <ion-list>
      <ion-item *ngFor="let pergunta of perguntas; let i = index">
        <ion-label class="ion-text-wrap">{{ pergunta.texto }}</ion-label>
        <ion-toggle [(ngModel)]="respostas[i]"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="enviarRespostas()" [disabled]="perguntas.length === 0">Enviar</ion-button>
  </div>

</ion-content>